main.main 
    .main__container
        section.main__consult.consult
            .consult__content 
                h2.consult__title Инструмент для работы заказчиков и подрядчиков в строительстве
                p.consult__description B2B платформа для поиска и размещения строительных подрядов и тендеров, а также поиска надежных исполнителей
            .consult__button 
                button.button.button--gray Получить консультацию
        include ../components/mac.pug