header.header
    .header__container
        embed(src="../../public/icons/logo.svg" type="image/svg+xml")
        nav.header__nav 
            a(href="#").link Продукты
                embed(src="../../public/icons/arrow.svg" type="image/svg+xml")
            a(href="#").link Заказчикам
            a(href="#").link Подрядчикам
        .header__phone
            span.header__hot-line Горячая линия
            span.header__number +7 (343) 385-91-61
        button.button.button--base Войти в систему