* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Manrope;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        width: 0;
    }
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}