* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    font-family: Manrope;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}